#modesFlowPane {
    -fx-background-color: #b1c3c7;
}
#chatListView {
    -fx-background-insets: 0;
}
#chatMessage {
    -fx-background-insets: 0;
}
.label {
    -fx-font-size: 16px;
    -fx-font-family: "NanumBarunGothic";
}