<!--
@font-face {
    font-family: 'Nanum Gothic';
    src: url('/NanumGothic.ttf');
}
-->

.text {
    -fx-font-family: "Roboto";
}

#profileBar {
    -fx-background-color: #b1c3c7;
}
#profileImg {
    -fx-border-radius: 100 100 100 100;
}
#toolBar {
    -fx-background-color: #cccccc;
}
#infoBar {
    -fx-background-color: rgba(255, 217, 39, 0.63);
}
.table-row-cell {
    -fx-cell-size: 50px;
}
.label {
    -fx-font-size: 16px;
    -fx-font-family: "NanumBarunGothic";
}
#onlineCountText {
}
#profileName {
    -fx-font-size: 24px;
}
#profileEmail {
    -fx-font-size: 14px;
}
ImageView {
    -fx-background-color: #FFF;
}
#peerListView {
    -fx-background-insets: 0;
}
#pinCircle {
    -fx-stroke: #FF0000;
    -fx-stroke-width: 4px;
    -fx-fill: transparent;
}